* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "partials/header";
@import "partials/mainInicio";
@import "partials/mainGeneros";
@import "partials/mainArtistas";
@import "partials/mainContactos";
@import "partials/footer";
@import "partials/mixins";

// Media query para ajustar a cada dispositivo
@include media_query_generos_320() {
    .main-generos {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        gap: 2px;
        grid-template-areas:
            "Area1 Area2"
            "Area1 Area3"
            "Area1 Area4"
            "Area1 Area5"
            "Area1 Area6"
            "Area1 Area7"
            "Area1 Area8"
            "Area1 Area9"
        ;
    }
    // Pagina principal
    .main-inicio {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(16, 200px);
        grid-template-areas:
        "Area1"  
        "Area5"
        "Area2" 
        "Area6"
        "Area3" 
        "Area7"
        "Area4" 
        "Area8"
        "Area9" 
        "Area13"
        "Area10" 
        "Area14"
        "Area11" 
        "Area15"
        "Area12" 
        "Area16"
        ;
    }

}

@include media_query_generos_768() {
    .main-generos {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        gap: 2px;
        grid-template-areas:
            "Area1 Area2 Area3 "
            "Area1 Area4 Area5 "
            "Area1 Area6 Area7 "
            "Area1 Area8 Area9 "
        ;
    }
    // Pagina principal
    .main-inicio {
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);
        grid-template-areas:
            "Area1 Area2" 
            "Area5 Area6"
            "Area3 Area4"
            "Area7 Area8"
            "Area9 Area10" 
            "Area13 Area14"
            "Area11 Area12"
            "Area15 Area16"
        ;
    }
}