
.main-inicio {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,200px);
    grid-template-areas:
        "Area1 Area2 Area3 Area4" 
        "Area5 Area6 Area7 Area8"
        "Area9 Area10 Area11 Area12" 
        "Area13 Area14 Area15 Area16"
        
    ;

    .Area {
        border: 1px solid rgb(148, 146, 146);
        /* Para que las imagenes no se desborden del div */
        .img-inicio {
            width: 100%;
            height: 100%;
        }
    }

    // Para activar cada area
    #Area1 {
        grid-area: Area1;  
        margin-right: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area2 { 
        grid-area: Area2;
        margin-right: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area3 {
        grid-area: Area3; 
        margin-right: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area4 {
        grid-area: Area4;
        margin-right: 10px; 
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area5 {
        grid-area: Area5;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area6 {
        grid-area: Area6;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area7 {
        grid-area: Area7;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area8 {
        grid-area: Area8;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area9 {
        grid-area: Area9;
        margin-right: 10px;
        margin-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area10 {
        grid-area: Area10;
        margin-right: 10px;
        margin-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area11 {
        grid-area: Area11;
        margin-right: 10px;
        margin-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area12 {
        grid-area: Area12;
        margin-right: 10px;
        margin-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .img-inicio{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    #Area13 {
        grid-area: Area13;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area14 {
        grid-area: Area14;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area15 {
        grid-area: Area15;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

    #Area16 {
        grid-area: Area16;
        border-top: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
        text-align: center; 
        margin-right: 10px;
        button{
            margin-top: 5px;
            &:hover{
                background-color: rgb(30, 255, 30);
                border-color: rgb(30, 255, 30);
                color: black;
                height: 40px;
                width: 110px;
            }
        }
    }

}